In [1]:
# Path Name Pattern Expansion
import glob

import pandas as pd

In [2]:
# list all csv files
csv_files = glob.glob('*.{}'.format('csv'))

In [3]:
csv_files

['file1.csv', 'file2.csv', 'file3.csv']

In [4]:
new = []

# iterate through the csv file and concatenate it
for f in csv_files:
    new.append(pd.read_csv(f))

In [5]:
merged_file = pd.concat(new, ignore_index=True)

In [6]:
merged_file

,full_name,first_name,last_name,linkedin_url,phone_numbers,Personal_Email,Unnamed: 0
0,stephanie rosario,stephanie,rosario,linkedin.com/in/stephanierosario,"['+13054508147', '+13053851931']",'srosario23@bellsouth.net',NaN
1,tony dotson,tony,dotson,linkedin.com/in/tony-dotson-2b76908,['+19729228557'],'tdotson1274@gmail.com',NaN
2,heather wochnick,heather,wochnick,linkedin.com/in/heather-wochnick-32010858,"['+18587355091', '+16193033938', '+16192747720...","'h_wochnick@yahoo.com', 'hwochnick@yahoo.com...",NaN
3,joseph manfre,joseph,manfre,linkedin.com/in/joseph-manfre-0092bb10,"['+17325462131', '+14103984648']","'jwmanfre@optonline.net', 'linjoem@msn.com',",NaN
4,j aaron hooper,j,hooper,linkedin.com/in/j-aaron-hooper-7128393,['+17045744840'],'hooper357@yahoo.com',NaN
...,...,...,...,...,...,...,...
5202698,NaN,don,mcmillan,linkedin.com/in/don-mcmillan-7a107021,['+12105733288'],"'nybooboo78@ameritech.net', 'nybooboo@aol.co...",don mcmillan
5202699,NaN,dievina,navarrete,linkedin.com/in/dievina-navarrete-55030a15,"['+17074212117', '+17078530962', '+17073379252...",'fisherdgf@gmail.com',dievina navarrete
5202700,NaN,al,grabowski,linkedin.com/in/al-grabowski-2b132234,['+16023232560'],"'colinmcbride@sbcglobal.net', 'colinmcbride@...",al grabowski
5202701,NaN,jonathan,gibbs,linkedin.com/in/jonathan-gibbs-17b3b611,['+16785020827'],'jscolla@yahoo.com',jonathan gibbs
5202702,NaN,bruce,coombs,linkedin.com/in/bruce-coombs-a6560214,"['+19133100443', '+14354064166']",'ahsegal@yahoo.com',bruce coombs

In [7]:
merged_file.to_csv("mergedfile.csv")