In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("mergedfile.csv")

C:\Users\Kipplouser1\AppData\Local\Temp\ipykernel_25868\2876150696.py:1: DtypeWarning: Columns (0,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("mergedfile.csv")

In [3]:
df

,full_name,first_name,last_name,linkedin_url,phone_numbers,Personal_Email,Unnamed: 0
0,stephanie rosario,stephanie,rosario,linkedin.com/in/stephanierosario,"['+13054508147', '+13053851931']",'srosario23@bellsouth.net',NaN
1,tony dotson,tony,dotson,linkedin.com/in/tony-dotson-2b76908,['+19729228557'],'tdotson1274@gmail.com',NaN
2,heather wochnick,heather,wochnick,linkedin.com/in/heather-wochnick-32010858,"['+18587355091', '+16193033938', '+16192747720...","'h_wochnick@yahoo.com', 'hwochnick@yahoo.com...",NaN
3,joseph manfre,joseph,manfre,linkedin.com/in/joseph-manfre-0092bb10,"['+17325462131', '+14103984648']","'jwmanfre@optonline.net', 'linjoem@msn.com',",NaN
4,j aaron hooper,j,hooper,linkedin.com/in/j-aaron-hooper-7128393,['+17045744840'],'hooper357@yahoo.com',NaN
...,...,...,...,...,...,...,...
5202698,NaN,don,mcmillan,linkedin.com/in/don-mcmillan-7a107021,['+12105733288'],"'nybooboo78@ameritech.net', 'nybooboo@aol.co...",don mcmillan
5202699,NaN,dievina,navarrete,linkedin.com/in/dievina-navarrete-55030a15,"['+17074212117', '+17078530962', '+17073379252...",'fisherdgf@gmail.com',dievina navarrete
5202700,NaN,al,grabowski,linkedin.com/in/al-grabowski-2b132234,['+16023232560'],"'colinmcbride@sbcglobal.net', 'colinmcbride@...",al grabowski
5202701,NaN,jonathan,gibbs,linkedin.com/in/jonathan-gibbs-17b3b611,['+16785020827'],'jscolla@yahoo.com',jonathan gibbs
5202702,NaN,bruce,coombs,linkedin.com/in/bruce-coombs-a6560214,"['+19133100443', '+14354064166']",'ahsegal@yahoo.com',bruce coombs

In [4]:
# Check Length of unique linkedin URLs
len(df['linkedin_url'].unique())

3392954

In [5]:
# Length of all linkedin URLs
len(df['linkedin_url'])

5202703

In [6]:
# Drop duplicates in the "linkedin_url" column
df.drop_duplicates(subset=['linkedin_url'], keep='first')

,full_name,first_name,last_name,linkedin_url,phone_numbers,Personal_Email,Unnamed: 0
0,stephanie rosario,stephanie,rosario,linkedin.com/in/stephanierosario,"['+13054508147', '+13053851931']",'srosario23@bellsouth.net',NaN
1,tony dotson,tony,dotson,linkedin.com/in/tony-dotson-2b76908,['+19729228557'],'tdotson1274@gmail.com',NaN
2,heather wochnick,heather,wochnick,linkedin.com/in/heather-wochnick-32010858,"['+18587355091', '+16193033938', '+16192747720...","'h_wochnick@yahoo.com', 'hwochnick@yahoo.com...",NaN
3,joseph manfre,joseph,manfre,linkedin.com/in/joseph-manfre-0092bb10,"['+17325462131', '+14103984648']","'jwmanfre@optonline.net', 'linjoem@msn.com',",NaN
4,j aaron hooper,j,hooper,linkedin.com/in/j-aaron-hooper-7128393,['+17045744840'],'hooper357@yahoo.com',NaN
...,...,...,...,...,...,...,...
4846791,NaN,rochelle,tramp,linkedin.com/in/rochelle-tramp-b0049223,"['+17857643319', '+17858426288']",'dannybake@gmail.com',rochelle tramp
4846792,NaN,veronica,herrera,linkedin.com/in/vherrera66,"['+19493507458', '+19092778376', '+19512778376...","'chipper79065@yahoo.com', 'carnzen@charter.n...",veronica herrera
4846793,NaN,chantel,brown,linkedin.com/in/chantel-brown-bs-rrt-13709977,['+14027074357'],'johnscott1@wowway.com',chantel brown
4846794,NaN,kenneth,scott,linkedin.com/in/kenneth-scott-2ab44638,['+16094994153'],'francygeiger@yahoo.com',kenneth scott
4846795,NaN,david,munos,linkedin.com/in/david-munos-0bb10111b,"['+16623219832', '+13175317984', '+15202499518...","'david.picataggio@comcast.net', 'susanpicata...",david munos

In [7]:
df.to_csv("merged_no_duplicates.csv")